<div class="container" align="center" style="margin-top: 10%;">
{% include 'components/toastr_base.html' %}
{% include 'components/base.html'%}
<div class="login-form">
<div class="main-div">
    <div class="panel">
   <h2 style="color: white;">Admin Login</h2>
   <p style="color: white;">Please enter your email and password</p>
   </div>
    <form name="login" action="/" method="post">
        <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="Username" required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="pwd" placeholder="Password" required>
        </div>
        <div class="forgot">
        </div>
        <button type="submit" class="btn btn-primary" id="login_btn">Login</button>
        <div>
        <h3>Languages</h3>
        <label>
          <input type="radio" class="radio" value="en" name="fooby[1][]" />English</label>
        <label>
          <input type="radio" checked class="radio" value="pt-br" name="fooby[1][]" />Portuguese</label>
        </div>
    </form>
    </div>
</div>
<script>
var error_handler = () =>{
  if({{login_error}} == true){
    toastr.options = {
      "closeButton": true,
      "debug": false,
      "newestOnTop": false,
      "progressBar": true,
      "positionClass": "toast-top-right",
      "preventDuplicates": false,
      "onclick": null,
      "showDuration": "300",
      "hideDuration": "1000",
      "timeOut": "5000",
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
}
    toastr.error('Login ou Senha Incorretos!')
  }
}
document.getElementById('login_btn').addEventListener('click', error_handler())

$("input:checkbox").on('click', function() {
  // in the handler, 'this' refers to the box clicked on
  var $box = $(this);
  if ($box.is(":checked")) {
    // the name of the box is retrieved using the .attr() method
    // as it is assumed and expected to be immutable
    var group = "input:checkbox[name='" + $box.attr("name") + "']";
    // the checked state of the group/box on the other hand will change
    // and the current value is retrieved using .prop() method
    $(group).prop("checked", false);
    $box.prop("checked", true);
  } else {
    $box.prop("checked", false);
  }
});
</script>
</div>
</div>
