<div class="sidebar" data-background-color="black" data-active-color="danger">
	<div class="sidebar-wrapper">
        <div class="logo">
            <a href="menu.html" class="simple-text">
                Hotel Service
            </a>
        </div>

        <ul class="nav">
            <li class="active">
                <a href="/menu">
                    <i class="ti-panel"></i>
                    <p>Menu</p>
                </a>
            </li>
            <li>
                <a href="/usuarios">
                    <i class="ti-user"></i>
                    <p>Usuários</p>
                </a>
            </li>
            <li>
                <a href="table.html">
                    <i class="ti-bag"></i>
                    <p>Hóspedes</p>
                </a>
            </li>
            <li>
                <a href="typography.html">
                    <i class="ti-view-list-alt"></i>
                    <p>Serviços</p>
                </a>
            </li>
            <li>
                <a href="/rooms">
                    <i class="ti-home"></i>
                    <p>Quartos</p>
                </a>
            </li>
        </ul>
	</div>
</div>
