<div id="mySidenav" class="sidenav">
    <ul class="sidebar-nav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/menu_principal">Home</a>
        <a href="/check_in">Check-in</a>
        <a href="/check_out">Check-out</a>
        <a href="/cadastro_hospede">Cadastro de Hóspedes</a>
        <a href="/cadastro_quartos">Cadastro de Quartos</a>
        <a href="/cadastro_usuarios">Cadastro de Usuários</a>
        <a href="/pedidos">Pedidos abertos</a>
        <a href="/">Logout</a>
    </ul>
</div>
