<div class="sidebar" data-background-color="black" data-active-color="danger">
	<div class="sidebar-wrapper">
        <div class="logo">
            <a href="menu.html" class="simple-text">
                Hotel Service
            </a>
        </div>

        <ul class="nav">
            <li class="active">
                <a href="menu.html">
                    <i class="ti-panel"></i>
                    <p>Menu</p>
                </a>
            </li>
            <li>
                <a href="usuarios.html">
                    <i class="ti-user"></i>
                    <p>Usuários</p>
                </a>
            </li>
            <li>
                <a href="table.html">
                    <i class="ti-bag"></i>
                    <p>Hóspedes</p>
                </a>
            </li>
            <li>
                <a href="typography.html">
                    <i class="ti-view-list-alt"></i>
                    <p>Serviços</p>
                </a>
            </li>
            <li>
                <a href="icons.html">
                    <i class="ti-home"></i>
                    <p>Quartos</p>
                </a>
            </li>
            <li>
                <a href="maps.html">
                    <i class="ti-check"></i>
                    <p>Check-in</p>
                </a>
            </li>
            <li>
                <a href="notifications.html">
                    <i class="ti-exchange-vertical"></i>
                    <p>Check-out</p>
                </a>
            </li>
        </ul>
	</div>
</div>