<div class="sidebar" data-background-color="black" data-active-color="danger">
	<div class="sidebar-wrapper">
        <div class="logo">
            <a href="menu.html" class="simple-text">
                Hotel Service
            </a>
        </div>

        <ul class="nav">
            <li id="menu">
                <a href="/menu">
                    <i class="ti-panel"></i>
                    <p>Menu</p>
                </a>
            </li>
            <li id="users">
                <a href="/usuarios">
                    <i class="ti-user"></i>
										<p>{{language['sidebar_users']}}</p>
                </a>
            </li>
            <li id="residents">
                <a href="/residents">
                    <i class="ti-bag"></i>
										<p>{{language['sidebar_residents']}}</p>
                </a>
            </li>
            <li id="services">
                <a href="/pedidos">
                    <i class="ti-view-list-alt"></i>
										<p>{{language['sidebar_services']}}</p>
                </a>
            </li>
            <li id="rooms">
                <a href="/rooms">
                    <i class="ti-home"></i>
										<p>{{language['sidebar_rooms']}}</p>
                </a>
            </li>
        </ul>
	</div>
</div>
