<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cadastro de Hóspedes</title>

    <link href="../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/css/sidebar.css" rel="stylesheet">
    <script src="../assets/jquery/jquery.min.js"></script>
    <script src="../assets/bootstrap/js/"></script>
    <script src="../assets/js/mostra_menu.js"></script>

    <style>
        body {
            background-image: url("../assets/img/hotel.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
        }
    </style>
</head>

<body>
    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
                <h4 class="text-white">Collapsed content</h4>
                <span class="text-muted">Toggleable via the navbar brand.</span>
            </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
            <a onclick="openNav()" class="btn btn-secondary" id="menu-toggle">
                <span class="navbar-toggler-icon"></span>
            </a>
        </nav>
    </div>
    <div id="mySidenav" class="sidenav">
        <ul class="sidebar-nav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="/">Home</a>
            <a href="/check_in">Check-in</a>
            <a href="/check_out">Check-out</a>
            <a href="/cadastro_usuarios">Cadastro de Hóspedes</a>
            <a href="/cadastro_pedidos">Cadastro de Pedidos</a>
            <a href="/cadastro_hospede">Cadastro de Usuários</a>
            <a href="#">Logout</a>
        </ul>
    </div>
    <div id="page-content-wrapper">
            <div class="container-fluid" style="text-align: center">
                <h1 style="color: white">Cadastre um novo hóspede</h1>
            </div>
        </div>
    <div>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cadastrar Hóspede</h5>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <input type="text" id="nome" placeholder="Nome do Hóspede" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" id="rg" placeholder="RG" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" id="cpf" placeholder="CPF" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" id="Telefone" placeholder="Telefone" class="form-control">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Cadastrar</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
