<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cadastro de Hóspedes</title>

    {% include 'components/base.html' %}

    <style>
        body {
            background-image: url("../assets/img/hotel.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
        }
    </style>
</head>

<body>
    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
                <h4 class="text-white">Collapsed content</h4>
                <span class="text-muted">Toggleable via the navbar brand.</span>
            </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
            <a onclick="openNav()" class="btn btn-secondary" id="menu-toggle">
                <span class="navbar-toggler-icon"></span>
            </a>
        </nav>
    </div>

    {% include 'components/side_bar.html' %}

    <div id="page-content-wrapper">
        <div class="container-fluid" style="text-align: center">
            <h1 style="color: white">Cadastre novos usuários</h1>
        </div>
    </div>
    <div>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cadastrar Usuário</h5>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label><b>Usuário:</b></label>
                            <input type="text" id="nome" placeholder="Nome do Usuário" class="form-control">
                        </div>
                        <div class="form-group">
                            <label><b>Senha:</b></label>
                            <input type="text" id="senha" placeholder="Senha" class="form-control">
                        </div>
                        <div class="form-group">
                            <label><b>Confirmação de senha:</b></label>
                            <input type="text" id="confirmarsenha" placeholder="Confirme sua senha" class="form-control">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Cadastrar</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
