<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cadastro de Hóspedes</title>

    {% include 'components/base.html' %}

    <style>
        body {
            background-image: url("../assets/img/hotel.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
        }
    </style>
</head>

<body>
    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
                <h4 class="text-white">Collapsed content</h4>
                <span class="text-muted">Toggleable via the navbar brand.</span>
            </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
            <a onclick="openNav()" class="btn btn-secondary" id="menu-toggle">
                <span class="navbar-toggler-icon"></span>
            </a>
        </nav>
    </div>

      {% include 'components/side_bar.html' %}
      {% include 'components/toastr_base.html' %}

    <div id="page-content-wrapper">
            <div class="container-fluid" style="text-align: center">
                <h1 style="color: white">Cadastre um novo hóspede</h1>
            </div>
        </div>
    <div>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cadastrar Hóspede</h5>
                </div>
                <div class="modal-body">
                    <form action='/cadastro_hospede/' method='post'>
                        <div class="form-group">
                            <label><b>Hóspede:</b></label>
                            <input type="text" name="nome" placeholder="Nome do Hóspede" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label><b>RG:</b></label>
                            <input type="text" name="rg" placeholder="RG" class="form-control" maxlength="9" required>
                        </div>
                        <div class="form-group">
                            <label><b>CPF:</b></label>
                            <input type="text" name="cpf" placeholder="CPF" class="form-control" maxlength="11" required>
                        </div>
                        <div class="form-group">
                            <label><b>Telefone:</b></label>
                            <input type="text" name="phone" placeholder="Telefone" class="form-control" maxlength="11" required>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" id="cadastro_btn">Cadastrar</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
<script>
var error_handler = () =>{
  toastr.options = {
    "closeButton": true,
    "debug": false,
    "newestOnTop": false,
    "progressBar": true,
    "positionClass": "toast-top-right",
    "preventDuplicates": false,
    "onclick": null,
    "showDuration": "300",
    "hideDuration": "1000",
    "timeOut": "5000",
    "extendedTimeOut": "1000",
    "showEasing": "swing",
    "hideEasing": "linear",
    "showMethod": "fadeIn",
    "hideMethod": "fadeOut"
}
  if({{insertion_code}} == 201){
    toastr.success('Hospede criado com sucesso!')
  }
  else{
    toastr.error('Hospede não foi inserido, Contate o admnistrador')
  }
}
document.getElementById('cadastro_btn').addEventListener('click', error_handler())
</script>
</body>

</html>
