<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />

	<title>{{language['menu_title']}}</title>

	{% include 'components/base.html' %}

</head>
<body>

<div class="wrapper">

    {% include 'components/sidebar.html' %}

    <div class="main-panel">

        {% include 'components/topo.html' %}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <a href="#">
                            <div class="card">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <div class="icon-big icon-warning text-center">
                                                <i class="ti-user"></i>
                                            </div>
                                        </div>
                                        <div class="col-xs-8">
                                            <div class="numbers">
                                                {{ language['sidebar_users'] }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <hr />
                                        <div class="stats">
                                            {{ language['menu_new_user_msg'] }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <a href="#">
                            <div class="card">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <div class="icon-big icon-success text-center">
                                                <i class="ti-bag"></i>
                                            </div>
                                        </div>
                                        <div class="col-xs-8">
                                            <div class="numbers">
																							{{ language['sidebar_residents'] }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <hr />
                                        <div class="stats">
                                            {{ language['menu_new_resident_msg'] }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <a href="#">
                            <div class="card">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <div class="icon-big icon-danger text-center">
                                                <i class="ti-view-list-alt"></i>
                                            </div>
                                        </div>
                                        <div class="col-xs-8">
                                            <div class="numbers">
																							{{ language['sidebar_services'] }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <hr />
                                        <div class="stats">
																					{{ language['menu_new_service'] }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <a href="#">
                            <div class="card">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <div class="icon-big icon-info text-center">
                                                <i class="ti-home"></i>
                                            </div>
                                        </div>
                                        <div class="col-xs-8">
                                            <div class="numbers">
                                                {{ language['sidebar_rooms'] }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <hr />
                                        <div class="stats">
																				{{ language['menu_new_room'] }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <a href="#">
                            <div class="card">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <div class="icon-big icon-success text-center">
                                                <i class="ti-check"></i>
                                            </div>
                                        </div>
                                        <div class="col-xs-9">
                                            <div class="numbers">
                                                Check-in
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <hr />
                                        <div class="stats">
                                            {{ language['menu_checkin_msg'] }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <a href="#">
                            <div class="card">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <div class="icon-big icon-danger text-center">
                                                <i class="ti-exchange-vertical"></i>
                                            </div>
                                        </div>
                                        <div class="col-xs-9">
                                            <div class="numbers">
                                                Check-out
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <hr />
                                        <div class="stats">
                                            {{ language['menu_checkout_msg'] }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        {% include 'components/rodape.html' %}

    </div>
</div>


</body>

    {% include 'components/scripts.html' %}
		<script type="text/javascript">
		$(document).ready(function(){

				demo.initChartist();
				document.getElementById("menu").setAttribute("class", "active")

		});
		</script>

</html>
