<html>

<head>
    <title>{{ language['menu_title'] }}</title>
    {% include 'components/base.html' %}
    <style>

    </style>
</head>

<body>
    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
                <h4 class="text-white">Collapsed content</h4>
                <span class="text-muted">Toggleable via the navbar brand.</span>
            </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
            <a onclick="openNav()" class="btn btn-secondary" id="menu-toggle">
                <span class="navbar-toggler-icon"></span>
            </a>
        </nav>

    </div>

    {% include 'components/side_bar.html' %}
     <div class="jumbotron jumbotron-fluid">

        <div class="container">
            <h1 class="display-2">{{ language['h1_menu_description_title'] }}</h1>
            <p class="lead">{{ language['p_menu_description'] }}</p>
        </div>
        <div class="jumbotron jumbotron-fluid" style="background-color:#42426F">
            <div class="container">
                <div class="row" style="color:white">
                    <div class="col-md-3">
                        <h3>{{ language['h3_menu_cadastro_user'] }}</h3>
                        <label>{{ language['label_menu_cadastro_user'] }}</label>
                        <button class="btn btn-primary">{{ language['btn_menu_cadastro_user'] }}</button>
                    </div>
                    <div class="col-md-3">
                        <h3>{{ language['h3_menu_new_resident'] }}</h3>
                        <label>{{ language['label_menu_new_resident'] }}</label>
                        <button class="btn btn-primary">{{ language['btn_menu_new_resident'] }}</button>
                    </div>
                    <div class="col-md-3">
                        <h3>{{ language['h3_menu_checkin'] }}</h3>
                        <label>{{ language['label_menu_checkin'] }}</label>
                        <button class="btn btn-primary">{{ language['btn_menu_checkin'] }}</button>
                    </div>
                    <div class="col-md-3">
                        <h3>{{ language['h3_menu_checkout'] }}</h3>
                        <label>{{ language['label_menu_checkout'] }}</label>
                        <button class="btn btn-primary">{{ language['btn_menu_checkout'] }}</button>
                    </div>
                    <div class="col-md-3">
                        <h3>{{ language['h3_menu_order'] }}</h3>
                        <label>{{ language['label_menu_order'] }}</label>
                        <button class="btn btn-primary">{{ language['btn_menu_order'] }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>{{ language['menu_phone'] }}:</h5>
                <span class="glyphicon glyphicon-earphone"></span>
                <p>(19)99999-9999</p>
            </div>
            <div class="col-md-4">
                <h5>E-mail:</h5>
                <p>hotelservicepi@gmail.com</p>
            </div>
            <div class="col-md-4">
                <h5>{{ language['menu_address'] }}:</h5>
                <p>Rua do PI, nº 6 - Jardim Fatec - Indaiatuba/SP</p>
            </div>
        </div>
    </div>


</body>

</html>
