<html>

<head>
    <title>Menu Principal</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="../assets/css/menu_bar.css" rel="stylesheet">
    <style>
        body {
            background-image: url("../assets/img/quarto.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
        }
    </style>

</head>

<body>

    <nav class="navbar navbar-inverse sidebar" id="sidebar-wrapper" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">Menu Principal</span>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#">Home
                            <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">Check-in
                            <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-circle-arrow-right"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">Check-out
                            <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-circle-arrow-left	
                            "></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">Cadastro de Hóspedes
                            <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">Cadastro de Pedidos
                            <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cutlery"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">Cadastro de Usuários
                            <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">Logout
                            <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-log-out	
                            "></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>
<html>