<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Menu Principal</title>

    {% include 'components/base.html' %}

    <style>

    </style>
</head>

<body>
    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
                <h4 class="text-white">Collapsed content</h4>
                <span class="text-muted">Toggleable via the navbar brand.</span>
            </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
            <a onclick="openNav()" class="btn btn-secondary" id="menu-toggle">
                <span class="navbar-toggler-icon"></span>
            </a>
        </nav>

    </div>

    {% include 'components/side_bar.html' %}
     <div class="jumbotron jumbotron-fluid">

        <div class="container">
            <h1 class="display-2">Sistema de Serviço de Hotel</h1>
            <p class="lead">Realize o controle do seu Hotel. Ofereça uma experiência incrível aos seus hóspedes:
                controle os pedidos , agilize o check-in e o check-out, tenha uma operação precisa e fidelize os
                clientes de seu Hotel!</p>
        </div>
        <div class="jumbotron jumbotron-fluid" style="background-color:#42426F">
            <div class="container">
                <div class="row" style="color:white">
                    <div class="col-md-3">
                        <h3>Muito mais reservas</h3>
                        <label>Serviços fornecidos pelo hotel através de aplicativo mobile, facilitando para o cliente
                            realizar a solicitação.</label>
                    </div>
                    <div class="col-md-3">
                        <h3>Clientes Satisfeitos</h3>
                        <label>Check-in, check-out e solicitações rápidas: tecnologia e gestão encantando hóspedes</label>
                    </div>
                    <div class="col-md-3">
                        <h3>Operação sem erros</h3>
                        <label>Disponibilidade, reservas, pagamentos, check-in, check-out: tudo num exclusivo painel
                            interativo</label>
                    </div>
                    <div class="col-md-3">
                        <h3>E muito mais</h3>
                        <label>Segurança total: informações em tempo real, controle de débitos, pedidos</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h1>Sobre</h1>
            <p>O sistema de serviço de hotel é um sistema de gerenciamento de hotel. Esse sistema permite o controle de
                check-in, check-out, pagamentos, solicitações dos hóspedes e integração com aplicativo mobile onde é
                realizado a solicitação dos clientes.</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Telefone:</h5>
                <span class="glyphicon glyphicon-earphone"></span>
                <p>(19)99999-9999</p>
            </div>
            <div class="col-md-4">
                <h5>E-mail:</h5>
                <p>hotelservicepi@gmail.com</p>
            </div>
            <div class="col-md-4">
                <h5>Endereço:</h5>
                <p>Rua do PI, nº 6 - Jardim Fatec - Indaiatuba/SP</p>
            </div>
        </div>
    </div>


</body>

</html>
