<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>Usuários - Hotel Service</title>

    {% include 'components/base.html' %}

</head>
<body>

<div class="wrapper">

  {% include 'components/sidebar.html' %}

    <div class="main-panel">

    {% include 'components/topo.html' %}
        <div class="content">
        </div>
        <div class="container">
          <table class="table table-bordered">
            <h2>{{ language['registered_users'] }}</h2>
            <p>{{ language['filters_room'] }}</p>
            <form action='/usuarios/' method="get">
              <div class="form-group">
                <label class="radio-inline">
                    <input type="radio" name="users" value="adm_only">
                    {{ language['filters_adm'] }}
                </label>
                <label class="radio-inline">
                    <input type="radio" name="users" checked value="guests_only">
                    {{ language['filters_guests'] }}
                </label>
                <label class="radio-inline">
                    <button type="submit" class="btn btn-info btn-fill btn-wd">{{ language['filter'] }}</button>
                </label>
              </div>
            </form>
            <thead>
              <tr>
                <th>Name</th>
                <th>RG</th>
                <th>CPF</th>
                <th>Phone</th>
                <th>Type</th>
                <td>Action</th>
              </tr>
              <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</a></td>
                <td><button type="submit" class="btn btn-danger btn-fill btn-wd" id='delete_user'>Delete</button></td>
              </tr>
            </thead>
            <tbody>
        </tbody>
        </table>
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <div class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script>, made by Hotel Service
                </div>
            </div>
        </footer>

    </div>
</div>


</body>

  {% include 'components/scripts.html' %}


    <script type="text/javascript">
        $(document).ready(function(){

            document.getElementById("users").setAttribute("class", "active")


            demo.initChartist();

            let msg_suc = ''
            let msg_fail = ''

            if ('{{error}}' == 'hos_saved'){
              msg_suc = "{{ language['error_hos_saved'] }}"
            }
            if ('{{error}}' == 'emp_saved'){
              msg_suc = "{{ language['error_emp_saved'] }}"
            }
            if ('{{error}}' == 'selecionar_tipo'){
              msg_fail = "{{ language['error_select_type'] }}"
            }
            if ('{{error}}' == 'pwds'){
              msg_fail = "{{ language['error_pwds'] }}"
            }

            if ('{{error}}' == 'selecionar_tipo' || '{{error}}' == 'pwds'){
              $.notify(msg_fail, 'error');
            }
            if ('{{error}}' == 'hos_saved' || '{{error}}' == 'emp_saved'){
              $.notify(msg_suc, 'success');
            }

        });
    </script>

</html>
