<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>Usuários - Hotel Service</title>

    {% include 'components/base.html' %}

</head>
<body>

<div class="wrapper">

  {% include 'components/sidebar.html' %}

    <div class="main-panel">

    {% include 'components/topo.html' %}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">{{ language['new_user'] }}</h4>
                            </div>
                            <div class="content">
                                <form method="POST" action="/usuarios/" name="usuarios">
                                    <div class="form-group">
                                        <label>{{ language['type'] }}</label>
                                        <select name="tipo" class="form-control border-input">
                                            <option value="0">{{ language['select_type'] }}</option>
                                            <option value="Hóspede">{{ language['sidebar_residents'] }}</option>
                                            <option value="ADM">ADM</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Username</label>
                                        <input type="text" name="nome" class="form-control border-input" placeholder="Username" required>
                                    </div>
                                    <div class="form-group">
                                        <label>RG</label>
                                        <input type="text" name="rg" class="form-control border-input" placeholder="RG" required>
                                    </div>
                                    <div class="form-group">
                                        <label>CPF</label>
                                        <input type="text" name="cpf" class="form-control border-input" placeholder="CPF" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Phone</label>
                                        <input type="text" name="telefone" class="form-control border-input" placeholder="Phone" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" name="senha" class="form-control border-input" placeholder="Password" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Password confirm</label>
                                        <input type="password" name="confirmarsenha" class="form-control border-input" placeholder="Password confirm" required>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-success btn-fill btn-wd">Registrate</button>
                                    </div>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
          <table class="table table-bordered">
            <h2>{{ language['registered_users'] }}</h2>
            <p>{{ language['filters_room'] }}</p>
            <form action='/usuarios/' method="get">
              <div class="form-group">
                <label class="radio-inline">
                    <input type="radio" name="users" value="adm_only">
                    {{ language['filters_adm'] }}
                </label>
                <label class="radio-inline">
                    <input type="radio" name="users" checked value="guests_only">
                    {{ language['filters_guests'] }}
                </label>
                <label class="radio-inline">
                    <button type="submit" class="btn btn-info btn-fill btn-wd">{{ language['filter'] }}</button>
                </label>
              </div>
            </form>
            <thead>
              <tr>
                <th>Name</th>
                <th>RG</th>
                <th>CPF</th>
                <th>Phone</th>
                <th>Type</th>
                <td>Action</th>
              </tr>
              {% for item in users %}
              <tr>
                <td>{{item.name}}</td>
                <td>{{item.rg}}</td>
                <td>{{item.cpf}}</td>
                <td>{{item.phone}}</td>
                <td>{{'ADM' if item.__tablename__ == 'employee' else 'Guest' }}</a></td>
                <td><button type="submit" class="btn btn-danger btn-fill btn-wd" id='delete_user'>Delete</button></td>
              </tr>
              {% endfor %}
            </thead>
            <tbody>
        </tbody>
        </table>
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <div class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script>, made by Hotel Service
                </div>
            </div>
        </footer>

    </div>
</div>


</body>

  {% include 'components/scripts.html' %}


    <script type="text/javascript">
        $(document).ready(function(){

            demo.initChartist();

            let msg_suc = ''
            let msg_fail = ''

            if ('{{error}}' == 'hos_saved'){
              msg_suc = "{{ language['error_hos_saved'] }}"
            }
            if ('{{error}}' == 'emp_saved'){
              msg_suc = "{{ language['error_emp_saved'] }}"
            }
            if ('{{error}}' == 'selecionar_tipo'){
              msg_fail = "{{ language['error_select_type'] }}"
            }
            if ('{{error}}' == 'pwds'){
              msg_fail = "{{ language['error_pwds'] }}"
            }

            if ('{{error}}' == 'selecionar_tipo' || '{{error}}' == 'pwds'){
              $.notify(msg_fail, 'error');
            }
            if ('{{error}}' == 'hos_saved' || '{{error}}' == 'emp_saved'){
              $.notify(msg_suc, 'success');
            }

        });
    </script>

</html>
